.formulario {
	width: 100%;
}

.campo {
	display: flex;

	label {
		flex: 0 0 10rem; // Lo mismo que tener flex-basis: 10rem;
		color: $blanco;
		align-items: center;
	}
	input {
		flex: 1;
		border-radius: 1rem;
		border: none;
	}
}
